.wrap {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #000;
    color: white;
    text-align: center;
}

.wrap div:nth-child(2n-1) {
    background-color:rgb(134, 74, 255);
}

.wrap div:nth-child(2n) {
    background-color: rgb(255, 85, 255);
}