.header {
    background: #202020;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: table-cell;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.item:hover {
    background: #2f2f2f;
}

.item:active, .item.active{
    background: white;
    color: #202020;
}

.item-display-none {
    display: none;
}