.header {
    display: flex;
    justify-content: flex-end;
    order: 1;
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 140px;
    background-color: #ffffff;
    color: rgba(88, 191, 225, 0.93);
}


.logo h1 {
    font-size: 2.5rem;
}

.logo div:first-child {
    font-family: NanumSquareEB;
    
}
.logo div:last-child {
    font-family: NanumSquareR;
}

.header nav {
    width: 87.5%;
    min-height: 80px;
    background-color: #ff6655;
}